@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --cor-fundo: #441752;
    --cor-secao: #FFB22C;
    --cor-titulo: #B60071;
    --cor-titulo-texto: #E4003A;
    --cor-texto: #AB4459;
    --fonte-principal: 'Krona One';
    --fonte-texto: 'Montserrat', sans-serif;
    --fonte-cabecalho: 'Fredericka the Great';
}
